# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/

# Streamlit secrets file
.streamlit/secrets.toml

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

#old version
.old_version/